<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# f.label :nombre %><label for="form_nombre">Nombre:</label><br>
    <%= f.text_field :nombre, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%# f.label :email %><label for="form_email">Correo electrónico:</label><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%# f.label :edad %><label for="form_edad">Edad:</label><br>
    <%# f.text_field :edad, class: 'form-control' %>
      <%= radio_button("form", "edad", "Menor de 18 años") %>
      <%= label_tag(:edad_Menos_De_18, "Menor de 18 años") %><br />
      <%= radio_button("form", "edad", "Entre 18 y 24 años") %>
      <%= label_tag(:edad_18_a_24, "Entre 18 y 24 años") %><br />
      <%= radio_button("form", "edad", "Entre 25 y 29 años") %>
      <%= label_tag(:edad_25_a_29, "Entre 25 y 29 años") %><br />
      <%= radio_button("form", "edad", "Entre 30 y 39 años") %>
      <%= label_tag(:edad_30_a_39, "Entre 30 y 39 años") %><br />
      <%= radio_button("form", "edad", "Entre 40 y 49 años") %>
      <%= label_tag(:edad_40_a_49, "Entre 40 y 49 años") %><br />
      <%= radio_button("form", "edad", "50 años o más") %>
      <%= label_tag(:edad_50_y_mas, "50 años o más") %>

  </div>
  <div class="field form-group">
    <%# f.label :genero %><label for="form_genero">Género:</label><br>
    <%# f.text_field :genero, class: 'form-control' %>
      <%= radio_button("form", "genero", "Femenino") %>
      <%= label_tag(:genero_Femenino, "Femenino") %><br />
      <%= radio_button("form", "genero", "Masculino") %>
      <%= label_tag(:genero_Masculino, "Masculino") %><br />
      <%= radio_button("form", "genero", "No_Binario") %>
      <%= label_tag(:genero_No_Binario, "No Binario") %>
  </div>
  <!-- <div class="field form-group">
    <%# f.label :comuna %><label for="form_comuna">Comuna:</label><br>
    <%# f.text_field :comuna, class: 'form-control' %>
      </div> -->
      
      
<div class="field form-group comunas">
<label for="form_comuna">Comuna:</label><br>
<select id="form_comuna" name="form[comuna]" class="form-control" >
<option value="" selected="selected">
Tu comuna:
</option>
<option value="Arica" >
Arica
</option>
<option value="Camarones" >
Camarones
</option>
<option value="Putre" >
Putre
</option>
<option value="General Lagos" >
General Lagos
</option>
<option value="Iquique" >
Iquique
</option>
<option value="Alto Hospicio" >
Alto Hospicio
</option>
<option value="Pozo Almonte" >
Pozo Almonte
</option>
<option value="Cami&ntilde;a" >
Camiña
</option>
<option value="Colchane" >
Colchane
</option>
<option value="Huara" >
Huara
</option>
<option value="Pica" >
Pica
</option>
<option value="Antofagasta" >
Antofagasta
</option>
<option value="Mejillones" >
Mejillones
</option>
<option value="Sierra Gorda" >
Sierra Gorda
</option>
<option value="Taltal" >
Taltal
</option>
<option value="Calama" >
Calama
</option>
<option value="Ollag&uuml;e" >
Ollagüe
</option>
<option value="San Pedro de Atacama" >
San Pedro de Atacama
</option>
<option value="Tocopilla" >
Tocopilla
</option>
<option value="Mar&iacute;a Elena" >
María Elena
</option>
<option value="Copiap&oacute;" >
Copiapó
</option>
<option value="Caldera" >
Caldera
</option>
<option value="Tierra Amarilla" >
Tierra Amarilla
</option>
<option value="Cha&ntilde;aral" >
Chañaral
</option>
<option value="Diego de Almagro" >
Diego de Almagro
</option>
<option value="Vallenar" >
Vallenar
</option>
<option value="Alto del Carmen" >
Alto del Carmen
</option>
<option value="Freirina" >
Freirina
</option>
<option value="Huasco" >
Huasco
</option>
<option value="La Serena" >
La Serena
</option>
<option value="Coquimbo" >
Coquimbo
</option>
<option value="Andacollo" >
Andacollo
</option>
<option value="La Higuera" >
La Higuera
</option>
<option value="Paiguano" >
Paiguano
</option>
<option value="Vicu&ntilde;a" >
Vicuña
</option>
<option value="Illapel" >
Illapel
</option>
<option value="Canela" >
Canela
</option>
<option value="Los Vilos" >
Los Vilos
</option>
<option value="Salamanca" >
Salamanca
</option>
<option value="Ovalle" >
Ovalle
</option>
<option value="Combarbal&aacute;" >
Combarbalá
</option>
<option value="Monte Patria" >
Monte Patria
</option>
<option value="Punitaqui" >
Punitaqui
</option>
<option value="R&iacute;o Hurtado" >
Río Hurtado
</option>
<option value="Valpara&iacute;so" >
Valparaíso
</option>
<option value="Casablanca" >
Casablanca
</option>
<option value="Conc&oacute;n" >
Concón
</option>
<option value="Juan Fern&aacute;ndez" >
Juan Fernández
</option>
<option value="Puchuncav&iacute;" >
Puchuncaví
</option>
<option value="Quintero" >
Quintero
</option>
<option value="Vi&ntilde;a del Mar" >
Viña del Mar
</option>
<option value="Isla de Pascua" >
Isla de Pascua
</option>
<option value="Los Andes" >
Los Andes
</option>
<option value="Calle Larga" >
Calle Larga
</option>
<option value="Rinconada" >
Rinconada
</option>
<option value="San Esteban" >
San Esteban
</option>
<option value="La Ligua" >
La Ligua
</option>
<option value="Cabildo" >
Cabildo
</option>
<option value="Papudo" >
Papudo
</option>
<option value="Petorca" >
Petorca
</option>
<option value="Zapallar" >
Zapallar
</option>
<option value="Quillota" >
Quillota
</option>
<option value="Calera" >
Calera
</option>
<option value="Hijuelas" >
Hijuelas
</option>
<option value="La Cruz" >
La Cruz
</option>
<option value="Nogales" >
Nogales
</option>
<option value="San Antonio" >
San Antonio
</option>
<option value="Algarrobo" >
Algarrobo
</option>
<option value="Cartagena" >
Cartagena
</option>
<option value="El Quisco" >
El Quisco
</option>
<option value="El Tabo" >
El Tabo
</option>
<option value="Santo Domingo" >
Santo Domingo
</option>
<option value="San Felipe" >
San Felipe
</option>
<option value="Catemu" >
Catemu
</option>
<option value="Llaillay" >
Llaillay
</option>
<option value="Panquehue" >
Panquehue
</option>
<option value="Putaendo" >
Putaendo
</option>
<option value="Santa Mar&iacute;a" >
Santa María
</option>
<option value="Quilpu&eacute;" >
Quilpué
</option>
<option value="Limache" >
Limache
</option>
<option value="Olmu&eacute;" >
Olmué
</option>
<option value="Villa Alemana" >
Villa Alemana
</option>
<option value="Santiago" >
Santiago
</option>
<option value="Cerrillos" >
Cerrillos
</option>
<option value="Cerro Navia" >
Cerro Navia
</option>
<option value="Conchal&iacute;" >
Conchalí
</option>
<option value="El Bosque" >
El Bosque
</option>
<option value="Estaci&oacute;n Central" >
Estación Central
</option>
<option value="Huechuraba" >
Huechuraba
</option>
<option value="Independencia" >
Independencia
</option>
<option value="La Cisterna" >
La Cisterna
</option>
<option value="La Florida" >
La Florida
</option>
<option value="La Granja" >
La Granja
</option>
<option value="La Pintana" >
La Pintana
</option>
<option value="La Reina" >
La Reina
</option>
<option value="Las Condes" >
Las Condes
</option>
<option value="Lo Barnechea" >
Lo Barnechea
</option>
<option value="Lo Espejo" >
Lo Espejo
</option>
<option value="Lo Prado" >
Lo Prado
</option>
<option value="Macul" >
Macul
</option>
<option value="Maip&uacute;" >
Maipú
</option>
<option value="&Ntilde;u&ntilde;oa" >
Ñuñoa
</option>
<option value="Pedro Aguirre Cerda" >
Pedro Aguirre Cerda
</option>
<option value="Pe&ntilde;alol&eacute;n" >
Peñalolén
</option>
<option value="Providencia" >
Providencia
</option>
<option value="Pudahuel" >
Pudahuel
</option>
<option value="Quilicura" >
Quilicura
</option>
<option value="Quinta Normal" >
Quinta Normal
</option>
<option value="Recoleta" >
Recoleta
</option>
<option value="Renca" >
Renca
</option>
<option value="San Joaqu&iacute;n" >
San Joaquín
</option>
<option value="San Miguel" >
San Miguel
</option>
<option value="San Ram&oacute;n" >
San Ramón
</option>
<option value="Vitacura" >
Vitacura
</option>
<option value="Puente Alto" >
Puente Alto
</option>
<option value="Pirque" >
Pirque
</option>
<option value="San Jos&eacute; de Maipo" >
San José de Maipo
</option>
<option value="Colina" >
Colina
</option>
<option value="Lampa" >
Lampa
</option>
<option value="Tiltil" >
Tiltil
</option>
<option value="San Bernardo" >
San Bernardo
</option>
<option value="Buin" >
Buin
</option>
<option value="Calera de Tango" >
Calera de Tango
</option>
<option value="Paine" >
Paine
</option>
<option value="Melipilla" >
Melipilla
</option>
<option value="Alhu&eacute;" >
Alhué
</option>
<option value="Curacav&iacute;" >
Curacaví
</option>
<option value="Mar&iacute;a Pinto" >
María Pinto
</option>
<option value="San Pedro" >
San Pedro
</option>
<option value="Talagante" >
Talagante
</option>
<option value="El Monte" >
El Monte
</option>
<option value="Isla de Maipo" >
Isla de Maipo
</option>
<option value="Padre Hurtado" >
Padre Hurtado
</option>
<option value="Pe&ntilde;aflor" >
Peñaflor
</option>
<option value="Rancagua" >
Rancagua
</option>
<option value="Codegua" >
Codegua
</option>
<option value="Coinco" >
Coinco
</option>
<option value="Coltauco" >
Coltauco
</option>
<option value="Do&ntilde;ihue" >
Doñihue
</option>
<option value="Graneros" >
Graneros
</option>
<option value="Las Cabras" >
Las Cabras
</option>
<option value="Machal&iacute;" >
Machalí
</option>
<option value="Malloa" >
Malloa
</option>
<option value="Mostazal" >
Mostazal
</option>
<option value="Olivar" >
Olivar
</option>
<option value="Peumo" >
Peumo
</option>
<option value="Pichidegua" >
Pichidegua
</option>
<option value="Quinta de Tilcoco" >
Quinta de Tilcoco
</option>
<option value="Rengo" >
Rengo
</option>
<option value="Requ&iacute;noa" >
Requínoa
</option>
<option value="San Vicente" >
San Vicente
</option>
<option value="Pichilemu" >
Pichilemu
</option>
<option value="La Estrella" >
La Estrella
</option>
<option value="Litueche" >
Litueche
</option>
<option value="Marchihue" >
Marchihue
</option>
<option value="Navidad" >
Navidad
</option>
<option value="Paredones" >
Paredones
</option>
<option value="San Fernando" >
San Fernando
</option>
<option value="Ch&eacute;pica" >
Chépica
</option>
<option value="Chimbarongo" >
Chimbarongo
</option>
<option value="Lolol" >
Lolol
</option>
<option value="Nancagua" >
Nancagua
</option>
<option value="Palmilla" >
Palmilla
</option>
<option value="Peralillo" >
Peralillo
</option>
<option value="Placilla" >
Placilla
</option>
<option value="Pumanque" >
Pumanque
</option>
<option value="Santa Cruz" >
Santa Cruz
</option>
<option value="Talca" >
Talca
</option>
<option value="Constituci&oacute;n" >
Constitución
</option>
<option value="Curepto" >
Curepto
</option>
<option value="Empedrado" >
Empedrado
</option>
<option value="Maule" >
Maule
</option>
<option value="Pelarco" >
Pelarco
</option>
<option value="Pencahue" >
Pencahue
</option>
<option value="R&iacute;o Claro" >
Río Claro
</option>
<option value="San Clemente" >
San Clemente
</option>
<option value="San Rafael" >
San Rafael
</option>
<option value="Cauquenes" >
Cauquenes
</option>
<option value="Chanco" >
Chanco
</option>
<option value="Pelluhue" >
Pelluhue
</option>
<option value="Curic&oacute;" >
Curicó
</option>
<option value="Huala&ntilde;&eacute;" >
Hualañé
</option>
<option value="Licant&eacute;n" >
Licantén
</option>
<option value="Molina" >
Molina
</option>
<option value="Rauco" >
Rauco
</option>
<option value="Romeral" >
Romeral
</option>
<option value="Sagrada Familia" >
Sagrada Familia
</option>
<option value="Teno" >
Teno
</option>
<option value="Vichuqu&eacute;n" >
Vichuquén
</option>
<option value="Linares" >
Linares
</option>
<option value="Colb&uacute;n" >
Colbún
</option>
<option value="Longav&iacute;" >
Longaví
</option>
<option value="Parral" >
Parral
</option>
<option value="Retiro" >
Retiro
</option>
<option value="San Javier" >
San Javier
</option>
<option value="Villa Alegre" >
Villa Alegre
</option>
<option value="Yerbas Buenas" >
Yerbas Buenas
</option>
<option value="Concepci&oacute;n" >
Concepción
</option>
<option value="Coronel" >
Coronel
</option>
<option value="Chiguayante" >
Chiguayante
</option>
<option value="Florida" >
Florida
</option>
<option value="Hualqui" >
Hualqui
</option>
<option value="Lota" >
Lota
</option>
<option value="Penco" >
Penco
</option>
<option value="San Pedro de la Paz" >
San Pedro de la Paz
</option>
<option value="Santa Juana" >
Santa Juana
</option>
<option value="Talcahuano" >
Talcahuano
</option>
<option value="Tom&eacute;" >
Tomé
</option>
<option value="Hualp&eacute;n" >
Hualpén
</option>
<option value="Lebu" >
Lebu
</option>
<option value="Arauco" >
Arauco
</option>
<option value="Ca&ntilde;ete" >
Cañete
</option>
<option value="Contulmo" >
Contulmo
</option>
<option value="Curanilahue" >
Curanilahue
</option>
<option value="Los &Aacute;lamos" >
Los Álamos
</option>
<option value="Tir&uacute;a" >
Tirúa
</option>
<option value="Los &Aacute;ngeles" >
Los Ángeles
</option>
<option value="Antuco" >
Antuco
</option>
<option value="Cabrero" >
Cabrero
</option>
<option value="Laja" >
Laja
</option>
<option value="Mulch&eacute;n" >
Mulchén
</option>
<option value="Nacimiento" >
Nacimiento
</option>
<option value="Negrete" >
Negrete
</option>
<option value="Quilaco" >
Quilaco
</option>
<option value="Quilleco" >
Quilleco
</option>
<option value="San Rosendo" >
San Rosendo
</option>
<option value="Santa B&aacute;rbara" >
Santa Bárbara
</option>
<option value="Tucapel" >
Tucapel
</option>
<option value="Yumbel" >
Yumbel
</option>
<option value="Alto Biob&iacute;o" >
Alto Biobío
</option>
<option value="Chill&aacute;n" >
Chillán
</option>
<option value="Bulnes" >
Bulnes
</option>
<option value="Cobquecura" >
Cobquecura
</option>
<option value="Coelemu" >
Coelemu
</option>
<option value="Coihueco" >
Coihueco
</option>
<option value="Chill&aacute;n Viejo" >
Chillán Viejo
</option>
<option value="El Carmen" >
El Carmen
</option>
<option value="Ninhue" >
Ninhue
</option>
<option value="&Ntilde;iqu&eacute;n" >
Ñiquén
</option>
<option value="Pemuco" >
Pemuco
</option>
<option value="Pinto" >
Pinto
</option>
<option value="Portezuelo" >
Portezuelo
</option>
<option value="Quill&oacute;n" >
Quillón
</option>
<option value="Quirihue" >
Quirihue
</option>
<option value="R&aacute;nquil" >
Ránquil
</option>
<option value="San Carlos" >
San Carlos
</option>
<option value="San Fabi&aacute;n" >
San Fabián
</option>
<option value="San Ignacio" >
San Ignacio
</option>
<option value="San Nicol&aacute;s" >
San Nicolás
</option>
<option value="Treguaco" >
Treguaco
</option>
<option value="Yungay" >
Yungay
</option>
<option value="Temuco" >
Temuco
</option>
<option value="Carahue" >
Carahue
</option>
<option value="Cunco" >
Cunco
</option>
<option value="Curarrehue" >
Curarrehue
</option>
<option value="Freire" >
Freire
</option>
<option value="Galvarino" >
Galvarino
</option>
<option value="Gorbea" >
Gorbea
</option>
<option value="Lautaro" >
Lautaro
</option>
<option value="Loncoche" >
Loncoche
</option>
<option value="Melipeuco" >
Melipeuco
</option>
<option value="Nueva Imperial" >
Nueva Imperial
</option>
<option value="Padre las Casas" >
Padre las Casas
</option>
<option value="Perquenco" >
Perquenco
</option>
<option value="Pitrufqu&eacute;n" >
Pitrufquén
</option>
<option value="Puc&oacute;n" >
Pucón
</option>
<option value="Saavedra" >
Saavedra
</option>
<option value="Teodoro Schmidt" >
Teodoro Schmidt
</option>
<option value="Tolt&eacute;n" >
Toltén
</option>
<option value="Vilc&uacute;n" >
Vilcún
</option>
<option value="Villarrica" >
Villarrica
</option>
<option value="Cholchol" >
Cholchol
</option>
<option value="Angol" >
Angol
</option>
<option value="Collipulli" >
Collipulli
</option>
<option value="Curacaut&iacute;n" >
Curacautín
</option>
<option value="Ercilla" >
Ercilla
</option>
<option value="Lonquimay" >
Lonquimay
</option>
<option value="Los Sauces" >
Los Sauces
</option>
<option value="Lumaco" >
Lumaco
</option>
<option value="Pur&eacute;n" >
Purén
</option>
<option value="Renaico" >
Renaico
</option>
<option value="Traigu&eacute;n" >
Traiguén
</option>
<option value="Victoria" >
Victoria
</option>
<option value="Valdivia" >
Valdivia
</option>
<option value="Corral" >
Corral
</option>
<option value="Lanco" >
Lanco
</option>
<option value="Los Lagos" >
Los Lagos
</option>
<option value="M&aacute;fil" >
Máfil
</option>
<option value="Mariquina" >
Mariquina
</option>
<option value="Paillaco" >
Paillaco
</option>
<option value="Panguipulli" >
Panguipulli
</option>
<option value="La Uni&oacute;n" >
La Unión
</option>
<option value="Futrono" >
Futrono
</option>
<option value="Lago Ranco" >
Lago Ranco
</option>
<option value="R&iacute;o Bueno" >
Río Bueno
</option>
<option value="Puerto Montt" >
Puerto Montt
</option>
<option value="Calbuco" >
Calbuco
</option>
<option value="Cocham&oacute;" >
Cochamó
</option>
<option value="Fresia" >
Fresia
</option>
<option value="Frutillar" >
Frutillar
</option>
<option value="Los Muermos" >
Los Muermos
</option>
<option value="Llanquihue" >
Llanquihue
</option>
<option value="Maull&iacute;n" >
Maullín
</option>
<option value="Puerto Varas" >
Puerto Varas
</option>
<option value="Castro" >
Castro
</option>
<option value="Ancud" >
Ancud
</option>
<option value="Chonchi" >
Chonchi
</option>
<option value="Curaco de V&eacute;lez" >
Curaco de Vélez
</option>
<option value="Dalcahue" >
Dalcahue
</option>
<option value="Puqueld&oacute;n" >
Puqueldón
</option>
<option value="Queil&eacute;n" >
Queilén
</option>
<option value="Quell&oacute;n" >
Quellón
</option>
<option value="Quemchi" >
Quemchi
</option>
<option value="Quinchao" >
Quinchao
</option>
<option value="Osorno" >
Osorno
</option>
<option value="Puerto Octay" >
Puerto Octay
</option>
<option value="Purranque" >
Purranque
</option>
<option value="Puyehue" >
Puyehue
</option>
<option value="R&iacute;o Negro" >
Río Negro
</option>
<option value="San Juan de la Costa" >
San Juan de la Costa
</option>
<option value="San Pablo" >
San Pablo
</option>
<option value="Chait&eacute;n" >
Chaitén
</option>
<option value="Futaleuf&uacute;" >
Futaleufú
</option>
<option value="Hualaihu&eacute;" >
Hualaihué
</option>
<option value="Palena" >
Palena
</option>
<option value="Coihaique" >
Coihaique
</option>
<option value="Lago Verde" >
Lago Verde
</option>
<option value="Ais&eacute;n" >
Aisén
</option>
<option value="Cisnes" >
Cisnes
</option>
<option value="Guaitecas" >
Guaitecas
</option>
<option value="Cochrane" >
Cochrane
</option>
<option value="O&rsquo;Higgins" >
O’Higgins
</option>
<option value="Tortel" >
Tortel
</option>
<option value="Chile Chico" >
Chile Chico
</option>
<option value="R&iacute;o Ib&aacute;&ntilde;ez" >
Río Ibáñez
</option>
<option value="Punta Arenas" >
Punta Arenas
</option>
<option value="Laguna Blanca" >
Laguna Blanca
</option>
<option value="R&iacute;o Verde" >
Río Verde
</option>
<option value="San Gregorio" >
San Gregorio
</option>
<option value="Cabo de Hornos (Ex Navarino)" >
Cabo de Hornos (Ex Navarino)
</option>
<option value="Ant&aacute;rtica" >
Antártica
</option>
<option value="Porvenir" >
Porvenir
</option>
<option value="Primavera" >
Primavera
</option>
<option value="Timaukel" >
Timaukel
</option>
<option value="Natales" >
Natales
</option>
<option value="Torres del Paine" >
Torres del Paine
</option>
</select>
</div>
      

  <div class="field form-group">
    <%= f.label :TipoDeAlimentacion %><label for="form_TipoDeAlimentacion">Tipo de alimentación:</label><br>
    <%# f.text_field :TipoDeAlimentacion, class: 'form-control' %>
      <%= radio_button("form", "TipoDeAlimentacion", "Vegetariana") %>
      <%= label_tag(:TipoDeAlimentacion_Vegetariana, "Vegetariana") %><br />
      <%= radio_button("form", "TipoDeAlimentacion", "Vegana") %>
      <%= label_tag(:TipoDeAlimentacion_Vegetariana, "Vegana") %><br />
      <%= radio_button("form", "TipoDeAlimentacion", "Flexitariana") %>
      <%= label_tag(:TipoDeAlimentacion_Vegetariana, "Flexitariana") %><br />
      <%= radio_button("form", "TipoDeAlimentacion", "Pescetariana") %>
      <%= label_tag(:TipoDeAlimentacion_Vegetariana, "Pescetariana") %><br />
      <%= radio_button("form", "TipoDeAlimentacion", "Omnívora") %>
      <%= label_tag(:TipoDeAlimentacion_Vegetariana, "Omnívora") %><br />
  </div>
  <div class="field form-group">
    <%# f.label :ViveConAnimales %><label for="form_ViveConAnimales">¿Vive con algún animal en su casa?</label><br>
    <%# f.text_field :ViveConAnimales, class: 'form-control' %>
      <%= radio_button("form", "ViveConAnimales", "Si") %>
      <%= label_tag(:ViveConAnimales_Si, "Sí") %><br />
      <%= radio_button("form", "ViveConAnimales", "No") %>
      <%= label_tag(:ViveConAnimales_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :ProblematicaAnimal %><label for="form_ProblematicaAnimal">¿Cuál es para usted la problemática animal más urgente e importante hoy en Chile?</label><br>
    <%# f.text_field :ProblematicaAnimal, class: 'form-control' %>
<select id="form_ProblematicaAnimal" name="form[ProblematicaAnimal]" class="form-control" >
<option value="Tenencia responsable y abandono de animales domesticos" selected="selected">
Tenencia responsable y abandono de animales domesticos
</option>
<option value="Circos sin animales" >
Circos sin animales
</option>
<option value="Fin a la experimentación y testeo en animales" >
Fin a la experimentación y testeo en animales
</option>
<option value="Que el rodeo deje de ser Deporte Nacional" >
Que el rodeo deje de ser Deporte Nacional
</option>
<option value="Maltrato y crueldad en mataderos" >
Maltrato y crueldad en mataderos
</option>
</select>
      
  </div>
  <div class="field form-group">
    <%# f.label :VotoEnElecciones %><label for="form_VotoEnElecciones">¿Votó en las últimas elecciones municipales?</label><br>
    <%# f.text_field :VotoEnElecciones, class: 'form-control' %>
      <%= radio_button("form", "VotoEnElecciones", "Si") %>
      <%= label_tag(:VotoEnElecciones_Si, "Sí") %><br />
      <%= radio_button("form", "VotoEnElecciones", "No") %>
      <%= label_tag(:VotoEnElecciones_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :CandidatoAnimalista %><label for="form_CandidatoAnimalista">En las próximas elecciones municipales, ¿votaría por un candidato animalista como primera opción?</label><br>
    <%# f.text_field :CandidatoAnimalista, class: 'form-control' %>
      <%= radio_button("form", "CandidatoAnimalista", "Si") %>
      <%= label_tag(:CandidatoAnimalista_Si, "Sí") %><br />
      <%= radio_button("form", "CandidatoAnimalista", "No") %>
      <%= label_tag(:CandidatoAnimalista_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :CandidatoAnimalistaHombre %><label for="form_CandidatoAnimalistaHombre">¿Votaría por un candidato animalista hombre?</label><br>
    <%# f.text_field :CandidatoAnimalistaHombre, class: 'form-control' %>
      <%= radio_button("form", "CandidatoAnimalistaHombre", "Si") %>
      <%= label_tag(:CandidatoAnimalistaHombre_Si, "Sí") %><br />
      <%= radio_button("form", "CandidatoAnimalistaHombre", "No") %>
      <%= label_tag(:CandidatoAnimalistaHombre_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :CandidatoAnimalistaMujer %><label for="form_CandidatoAnimalistaMujer">¿Votaría por un candidato animalista mujer?</label><br>
    <%# f.text_field :CandidatoAnimalistaMujer, class: 'form-control' %>
      <%= radio_button("form", "CandidatoAnimalistaMujer", "Si") %>
      <%= label_tag(:CandidatoAnimalistaMujer_Si, "Sí") %><br />
      <%= radio_button("form", "CandidatoAnimalistaMujer", "No") %>
      <%= label_tag(:CandidatoAnimalistaMujer_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :CandidatoAnimalistaJoven %><label for="form_CandidatoAnimalistaJoven">¿Votaría por un candidato animalista menor de 35 años?</label><br>
    <%# f.text_field :CandidatoAnimalistaJoven, class: 'form-control' %>
      <%= radio_button("form", "CandidatoAnimalistaJoven", "Si") %>
      <%= label_tag(:CandidatoAnimalistaJoven_Si, "Sí") %><br />
      <%= radio_button("form", "CandidatoAnimalistaJoven", "No") %>
      <%= label_tag(:CandidatoAnimalistaJoven_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :CandidatoPromotorAmbientalista %><label for="form_CandidatoPromotorAmbientalista">¿Sería relevante en su decisión que el candidato animalista también promoviera la alimentación sana y el cuidado ambiental?</label><br>
    <%# f.text_field :CandidatoPromotorAmbientalista, class: 'form-control' %>
      <%= radio_button("form", "CandidatoPromotorAmbientalista", "Si") %>
      <%= label_tag(:CandidatoPromotorAmbientalista_Si, "Sí") %><br />
      <%= radio_button("form", "CandidatoPromotorAmbientalista", "No") %>
      <%= label_tag(:CandidatoPromotorAmbientalista_No, "No") %>
  </div>
  <div class="field form-group">
    <%# f.label :VoluntarioAnimalista %><label for="form_VoluntarioAnimalista">¿Participaría como voluntario en una campaña política animalista en su comuna?</label><br>
    <%# f.text_field :VoluntarioAnimalista, class: 'form-control' %>
      <%= radio_button("form", "VoluntarioAnimalista", "Si") %>
      <%= label_tag(:VoluntarioAnimalista_Si, "Sí") %><br />
      <%= radio_button("form", "VoluntarioAnimalista", "No") %>
      <%= label_tag(:VoluntarioAnimalista_No, "No") %>
  </div>
  <div class="actions">
      <%= f.submit 'Enviar encuesta', :class => 'btn btn-block btn-primary' %>
      <br />
  </div>
<% end %>