<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Hay errores con tu formulario:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :nombre, class: 'form-control', placeholder: "Tu nombre:" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :apellido, class: 'form-control', placeholder: "Tu apellido:" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :email, class: 'form-control', type: 'email', placeholder: "Tu email:" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :ciudad, class: 'form-control', placeholder: "Tu ciudad:" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :pais, class: 'form-control', placeholder: "Tu país:" %>
  </div>
  <div class="actions">
      <%= f.submit 'Enviar encuesta', :class => 'btn btn-lg btn-block btn-primary my-3' %>
  </div>
<% end %>
