<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre</strong>
  <%= @form.nombre %>
</p>

<p>
  <strong>Apellido</strong>
  <%= @form.apellido %>
</p>

<p>
  <strong>Mail</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Ciudad</strong>
  <%= @form.ciudad %>
</p>

<p>
  <strong>País</strong>
  <%= @form.pais %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
